[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
mysql-connector-python = "*"
mysqlclient = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
autopep8 = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.10"
